a {
  text-decoration: none;
  color: coral;
}

a:hover {
  background-color: grey;
}

body {
  background-image: url("muhammad.jpg");
}

* {
  color: coral;
}

hr {
  color: coral;
}

button {
  padding: 5px;;
  background-color:antiquewhite;
}
.fo{
  color: white;
}

#story {
  margin-left: 20px;
}

td, th {
  text-align: left;
}

.tablespace{
  margin-left: 20px;
}